<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <array>
        <dict>
            <key>action</key>
            <string>C</string>
            <key>color</key>
            <string>gray</string>
        </dict>
        <dict>
            <key>action</key>
            <string>⏈</string>
            <key>color</key>
            <string>gray</string>
        </dict>
        <dict>
            <key>action</key>
            <string>%</string>
            <key>color</key>
            <string>gray</string>
        </dict>
        <dict>
            <key>action</key>
            <string>/</string>
            <key>color</key>
            <string>orange</string>
        </dict>
        
        <dict>
            <key>action</key>
            <string>7</string>
            <key>color</key>
            <string>silver</string>
        </dict>
        <dict>
            <key>action</key>
            <string>8</string>
            <key>color</key>
            <string>silver</string>
        </dict>
        <dict>
            <key>action</key>
            <string>9</string>
            <key>color</key>
            <string>silver</string>
        </dict>
        <dict>
            <key>action</key>
            <string>x</string>
            <key>color</key>
            <string>orange</string>
        </dict>
        
        <dict>
            <key>action</key>
            <string>4</string>
            <key>color</key>
            <string>silver</string>
        </dict>
        <dict>
            <key>action</key>
            <string>5</string>
            <key>color</key>
            <string>silver</string>
        </dict>
        <dict>
            <key>action</key>
            <string>6</string>
            <key>color</key>
            <string>silver</string>
        </dict>
        <dict>
            <key>action</key>
            <string>-</string>
            <key>color</key>
            <string>orange</string>
        </dict>
        
        <dict>
            <key>action</key>
            <string>1</string>
            <key>color</key>
            <string>silver</string>
        </dict>
        <dict>
            <key>action</key>
            <string>2</string>
            <key>color</key>
            <string>silver</string>
        </dict>
        <dict>
            <key>action</key>
            <string>3</string>
            <key>color</key>
            <string>silver</string>
        </dict>
        <dict>
            <key>action</key>
            <string>+</string>
            <key>color</key>
            <string>orange</string>
        </dict>
        
        <dict>
            <key>action</key>
            <string>0</string>
            <key>color</key>
            <string>silver</string>
        </dict>
        <dict>
            <key>action</key>
            <string>.</string>
            <key>color</key>
            <string>silver</string>
        </dict>
        <dict>
            <key>action</key>
            <string>=</string>
            <key>color</key>
            <string>orange</string>
        </dict>
    </array>
</plist>
